*~
bin_from_Freezing_Pressure/*
.yapviewstack
Freezing_IceVII

*.pyc

bin/slide-and-match

bin/slide-and-match2

*.mod

*.o
log
src/SlideAndOverlay/slide-and-match

src/SlideAndOverlay/slide-and-match2

0*
q410*
q_*
@*
*.png

bin/contour

src/Contour/contour
submakefile.[0-9]*
TPPI*
PPI*
